<div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Phone</th>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.name }}</td>
              <td><a [routerLink]="'/user/'+user.id">{{ user.username }}</a></td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>